
<h1 class = 'ui header'>Appointments for Physician: <%= @physician.name%></h1>

<table class="ui striped table">
<thead>
  <tr class="ui striped table center aligned">
  <th>Appointment Date</th>
  <th>Appointment Time</th>
  <th>Show</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
</thead>
<tbody>
<% @physician.appointments.each do |a|%>
<tr class="center aligned">
  <td data-label="date"><%= a.date %></td>
  <td data-label="time"><%= a.time %></td>
  <td><%= link_to "Show Patient", physician_appointment_path(@physician, a.id)%></td>
  <td><%= link_to "Edit Appointment", edit_physician_appointment_path(@physician, a.id)%></td>
  <td><%= link_to "Delete", physician_appointment_path(@physician, a.id), method: :delete%></td>
<tr>
</tr>
<% end%>
</table>

<button class="ui button">
  <%= link_to 'Add an Appointment', new_physician_appointment_path(@physician, @appointment)%>
</button>

