<h1>Edit Appointment</h1>
<!-- form_with(model: @trip, local: true, class: 'form') -->
<div class="ui form">
 <%= form_for [@physician, @appointment] do |f| %>
   <%= f.label :date %>
   <%= f.text_field :date %>
   <br><br>
   <%= f.label :time %>
   <%= f.text_field :time %>
   <br><br>
    <%= f.label :patient%>
    <%= f.select :patient_id, @patients.collect { |pa| [pa.name, pa.id] } %>
   <br><br>
   <div><button class="ui button"> <%= f.submit %></button></div>
   
   <button class="ui button"> <%= link_to 'Back', root_path%> </button>
   <br><br>
 <% end %>
</div>
