<h1>Add an Appointment</h1>


<div class="ui form">

    <%= form_for [@physician, @appointment] do |f| %>
      <%= f.label :date %>
      <%= f.text_field :date %>
      <br><br>

      <%= f.label :time %>
      <%= f.text_field :time%>
      <br><br>
       <%= f.label :patient%>
      <%= f.select :patient_id, @patients.collect { |pa| [pa.name, pa.id] } %>

      <%# map through the @patients variable you made to select a patient %>
      <br><br>

      <%= f.submit%>
      <br><br>

<% end %>
</div>
