<h1>Appointment for: <%= @appointment.patient.name%></h1>
<p></p>

<table class="ui striped table">
<thead>
  <tr class="ui striped table center aligned">
  <th>Appointment Date</th>
  <th>Appointment Time</th>
  <th>Patient's Phone</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
</thead>
<tbody>
<tr class="center aligned">
  <td data-label="date"><%= @appointment.date %></td>
  <td data-label="time"><%= @appointment.time %></td>
  <td data-label="time"><%= @appointment.patient.phone_number %></td>
  <td><%= link_to "Edit Patient", edit_patient_path(@appointment.patient.id)%></td>
  <td><%= link_to "Delete"%></td>
</tr>

</table>