<h1>Patient appointment for : <%= @appointment.patient.name%></h1>
<p></p>

<table class="ui striped table">
<thead>
  <tr class="ui striped table center aligned">
  <th>Patient's Name</th>
  <th>Patient's Age</th>
  <th>Patient's Phone</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
</thead>
<tbody>
<tr class="center aligned">
  <td data-label="date"><%= @appointment.patient.name %></td>
  <td data-label="time"><%= @appointment.patient.age %></td>
  <td data-label="time"><%= @appointment.patient.phone_number %></td>
  <td><%= link_to "Edit Patient", edit_patient_path(@appointment.patient.id)%></td>
  <td><%= link_to "Delete"%></td>
</tr>

</table>

<button class='ui button'><%= link_to 'Back', physician_path(@physician)%>


